div#form-list-item.row {
    background: #E7EAF0;
    margin-top: 9px;
    border-radius: 8px;
}

#form-list-item.row:hover{
    background: #DCDFE5;
    box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.2);
    transition: all 200ms ease-out;
}

